<h2>pondlife: discone (a videogame)</h2>
<p>
  the first disc in the pondlife disc series; a run & jump & talk 'em-up. visit our
  <a href="https://github.com/apondlife/discone/wiki/hello" target="_blank">wiki</a>
  for more info!
</p>

<h3>controls</h3>
<p>
  <strong>wasd / left analog stick:</strong> move body
  <br>
  <strong>ijkl / right analog stick:</strong> move camera
  <br>
  <strong>space / south:</strong> jump / talk
  <br>
  <strong>u / west / east:</strong> close eyes (imagine flower)
  <br>
  <strong>o / north:</strong> return to flower
  <br>
  <strong>enter:</strong> toggle menu
</p>

<h3>note</h3>
<p>
  even if you think you're stuck, you might not be! it might actually be an
  interesting situation to try getting yourself out of. if you're really stuck,
  you might try holding "o". if you're really really stuck, you can open the
  menu and "disconnect" to restart the game (and connect again, if you were
  playing online).
</p>